@import "../../utils/scss-variables.scss";
@import "../../utils/scss-mixins.scss";

.authors-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  a {
    text-decoration: none;
    width: 324px;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  li {
    .avatar-wrap {
      width: 100%;
      background-color: $grey;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 148px;
      border-radius: 4px 4px 0 0;
    }
    .details {
      padding: 12px;
      h3 {
        color: $grey-dark;
        margin: 0;
      }
      p {
        color: $grey;
        margin: 0;
        line-height: 28px;
        span {
          color: $grey-dark;
          font-weight: 600;
          padding-right: 4px;
        }
        &.ellipsis {
          @include ellipsis(3);
        }
      }
    }
  }
}

.shimmer-list {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  .shimmer-wrap {
    width: 324px;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  .details-shimmer {
    padding: 12px;
    div {
      margin-top: 8px;
    }
  }
}

@media screen and (max-width: 480px) {
  .authors-list {
    a {
      width: 100%;
    }
  }
}
